.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.customBtn {
  background-color: #4a90e2 !important; 
  color: white !important;
  border: none !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customBtn:hover {
  background-color:  #09437c !important; 
  color: white !important;
}
.buttonWrapper {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;       
}
